@import "colors.scss";

#page-auth {
	display: flex;
	align-items: stretch;
	height: 100vh;

	aside {
		flex: 7;
		background-color: $aqua;
		color: #fff;

		display: flex;
		flex-direction: column;
		justify-content: center;

		padding: 120px 80px;

		img {
			max-width: 320px;
		}
		strong {
			font: 700 36px "Poppins", sans-serif;
			line-height: 42px;
			margin-top: 16px;
		}
		p {
			font-size: 24px;
			line-height: 32px;
			margin-top: 16px;
			color: #f8f8f8;
		}
	}
	main {
		flex: 8;
		padding: 0 32px;

		display: flex;
		align-items: center;
		justify-content: center;
	}
	.main-content {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 320px;
		align-items: stretch;
		text-align: center;

		> img {
			align-self: center;
			max-width: 50%;
		}
		h2 {
			font-size: 24px;
			margin: 64px 0 24px;
			font-family: "Poppins", sans-serif;
		}
		form {
			input {
				height: 50px;
				border-radius: 8px;
				padding: 0 16px;
				border: 1px solid $gray-mid;
				margin-bottom: 12px;
			}
		}
		p {
			font-size: 14px;
			color: $gray-dark;
			margin-top: 16px;

			a{
				margin-left: 8px;
				color: $blue;
			}
		}
		button,
		input {
			width: 100%;
		}
	}
	.create-room {
		background-color: #ea4335;
		margin-top: 64px;
		height: 50px;
		border-radius: 8px;
		font-weight: 500;
		color: #fff;
		cursor: pointer;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		transition: filter 0.2s;

		img {
			margin-right: 8px;
		}

		&:hover {
			filter: brightness(0.8);
		}
	}
	.separator {
		font-size: 14px;
		color: $gray-mid;

		margin: 32px 0;
		display: flex;
		align-items: center;

		&::before,
		&::after {
			content: "";
			flex: 1;
			background-color: $gray-mid;
			height: 1px;
		}
		$lineMargin: 16px;
		&::before {
			margin-right: $lineMargin;
		}
		&::after {
			margin-left: $lineMargin;
		}
	}
}
