$aqua: #3cb3c3;
$blue: #2b5ddf;
$redish: #bb4841; //* tomato/chocolate like
$danger: #e73f5d;
$hover_deepaqua: #327296;

$dimmedblack: #29292e;

$gray-dark: #737380;
$gray-mid: #a8a8b3;
$gray-light: #dbdcdd;
