@import "colors.scss";

.question-card {
  background-color: #fefefe;
  margin-bottom: 8px;
  border-radius: 8px;
  box-shadow: 2px 12px 6px rgba(0,0,0,0.04);
  padding: 24px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ebebeb;

  &.highlighted {
    background-image: linear-gradient( -10deg, rgba($blue, .13) 20%, rgba($blue, .05) 80% );
    border-color: $aqua;
    
    .question-card-footer .author-info span{
      color: $dimmedblack;
    }
  }

  &.answered {
    background-color: $gray-light;
    img {
      filter: saturate(0.25)
    }
  }

  p {
    color: $dimmedblack;
  }

  .question-card-footer {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  


    .author-info {
      display: flex;
      align-items: center;
    
      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }
    
      span {
        font-size: 14px;
        margin-left: 8px;
        color: $gray-dark;
      }
    }

    .actions-list {
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      font-weight: 500;
      display: flex;
      align-items: flex-end;
      gap: 16px;
      color: $gray-dark;

      .action {
        display: inline-flex;
        flex: 0;
        align-items: flex-end;
        gap: 8px;
  
        button {
          background: none;
          border: 0;
          cursor: pointer;
          transition: filter 0.2s;
  
          img, svg {
            max-width: 24px;
            max-height: 24px;
          }

          &:hover svg {
            filter: brightness(0.7)
          }

          &:disabled {
            pointer-events: none;
            opacity: .75;
          }
        }

        &.activated svg {
          stroke: $aqua;
        }

        &.delete:hover svg {
          filter: none;
          stroke: $danger;
        }
      }

    }
  }
}